// set variables
@bg-color: antiquewhite;

// clear default style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// set main-container style
#main {
  width: 360px;
  height: 420px;
  background-color: @bg-color;
}
